<h3 class="text-white mt-3 p-2 ms-2">Welcome {{user}}</h3>
<button (click)="logOut()" class="btn btn-danger">logout</button>
<p class="text-center text-white"> <a routerLink="/transaction">Show Transactions</a></p>
<div class="row">
    <div class="col-lg-6 p-5 text-center">
        <form [formGroup]="depositForm" style="background-color: rgba(0, 0, 0, 0.274);border-radius: 20px;" action="">
            <h2 class="text-white ">Deposit</h2>
            <div class="mt-2 p-0">
                <input formControlName="acno1" id="as1" name="acno" class="form-control" type="text"
                    placeholder="Account number"><br>
            </div>
            <div *ngIf="this.depositForm.get('acno1')?.errors && this.depositForm.get('acno1')?.touched"
                class="text-start ms-2">
                <p class="text-danger">Includes number only</p>
            </div>
            <div class="mt-2 p-0">
                <input formControlName="psw1" id="us1" name="password" class="form-control" type="password"
                    placeholder="Password"><br>
            </div>
            <div *ngIf="this.depositForm.get('psw1')?.errors && this.depositForm.get('psw1')?.touched"
                class="text-start ms-2">
                <p class="text-danger">Includes characters and numbers only</p>
            </div>
            <div class="mt-2 p-0">
                <input formControlName="amnt1" id="ps1" name="amnt" class="form-control" type="text"
                    placeholder="Amount"><br>
            </div>
            <div *ngIf="this.depositForm.get('amnt1')?.errors && this.depositForm.get('amnt1')?.touched"
                class="text-start ms-2">
                <p class="text-danger">Includes number only</p>
            </div>

            <button (click)="deposit()" type="submit" class="btn btn-primary">Deposit</button>
        </form>
    </div>
    <div class="col-lg-6 p-5 text-center">
        <form [formGroup]="withdrawForm" style="background-color: rgba(0, 0, 0, 0.274);border-radius: 20px;" action="">
            <h2 class="text-white">Withdraw</h2>
            <div class="mt-2 p-0">
                <input formControlName="acno2" id="aw1" name="acno1" class="form-control" type="text"
                    placeholder="Account number"><br>
            </div>
            <div *ngIf="this.withdrawForm.get('acno2')?.errors && this.withdrawForm.get('acno2')?.touched"
                class="text-start ms-2">
                <p class="text-danger">Includes number only</p>
            </div>
            <div class="mt-2 p-0">
                <input formControlName="psw2" id="uw1" name="password1" class="form-control" type="password"
                    placeholder="Password"><br>
            </div>
            <div *ngIf="this.withdrawForm.get('psw2')?.errors && this.withdrawForm.get('psw2')?.touched"
                class="text-start ms-2">
                <p class="text-danger">Includes characters and number only</p>
            </div>
            <div class="mt-2 p-0">
                <input formControlName="amnt2" id="pw1" name="amnt1" class="form-control" type="text"
                    placeholder="Amount"><br>
            </div>
            <div *ngIf="this.withdrawForm.get('amnt2')?.errors && this.withdrawForm.get('amnt2')?.touched"
                class="text-start ms-2">
                <p class="text-danger">Includes number only</p>
            </div>
            <button (click)="withdraw()" type="submit" class="btn btn-primary ">Withdraw</button>
        </form>
    </div>
</div>