<h1 class="text-center text-white">Sign In</h1>

<div class="sign">
    <form [formGroup]="registerForm" class="container  w-50 mt-5 mb-5"  action="">
        <div class="mt-5  p-4">
            <input formControlName="acno"  type="text" id="p1" name="acno" placeholder="ACCOUNT NO" class="form-control">
        </div>
        <div *ngIf="this.registerForm.get('acno')?.errors && this.registerForm.get('acno')?.touched" class="text-start ms-2" >
            <p class="text-danger">Includes number only</p>
        </div>
        <div class=" p-4 ">
            <input  formControlName="uname" name="user" type="text"  id="p2"  placeholder="Username" class="form-control">
        </div>
        <div *ngIf="this.registerForm.get('uname')?.errors && this.registerForm.get('uname')?.touched" class="text-start ms-2" >
            <p class="text-danger">includes characters only</p>
        </div>
        <div class=" p-4 ">
            <input  formControlName="psw" type="password"  id="p3" name="password" placeholder="Password" class="form-control">
        </div>
        <div *ngIf="this.registerForm.get('psw')?.errors && this.registerForm.get('psw')?.touched" class="text-start ms-2" >
            <p class="text-danger">Includes characters and number only</p>
        </div>
        <div class="text-center">
            <button (click)="register()" class="container w-25 mb-3  btn btn-outline-primary ">register</button>
        </div>
    </form>
    <p class="text-center text-white" > <a href=""> Login</a></p>
</div>